#root {
	font-family: Helvetica, sans;
}

#user {
	border: 1px solid;
}

#user, .is-valid-user {
   font-size: 1.5em;
   vertical-align: middle;
   padding: .5em;
}

nav {
	margin-top: 1.5em;
}

nav a:first-of-type {
	margin-right: .5em;
}

nav .nav-link-active {
	background-color: #00A;
}

nav a {
	text-decoration: none;
	padding: .5em;
	background-color: #0A0;
	border-radius: .5em;
	color: #FFF;
}

#user-data {
	margin: 1.5em 1.5em 0;
}